body {
    margin: 0;
    font-family: Arial, Tahoma, sans-serif;
}
div {
    width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 800px !important;
    transition: all 0.5s;
}
a {
    color: white;
    font-size: 22px;
    margin-top: 5px;
}
a:hover {
    background: #757575;
}
.title {
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 0 #000000;
    font-weight: bold;
}
